*,
*::after,
*::before {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 22, 22);
  margin: 0;
}

h2 {
  margin: 0;
}

.header {
  z-index: 1;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 15px 10px -15px #fff;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.header .logo a {
  font-family: "Panchang-Variable";
}
.header .nav-bar-mobile {
  position: absolute;
  top: 100%;
  right: -100%;
  max-width: 400px;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(22, 22, 22);
  padding: 20px;
  border-left: 1px solid #fff;
  transition: 0.7s ease-in-out;
}
.header .nav-bar-mobile ul {
  list-style: none;
}
.header .nav-bar-mobile ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.header .nav-bar-mobile.show {
  right: 0 !important;
}

.hamburger {
  padding: 10px;
  cursor: pointer;
  display: none !important;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-46px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(92px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: red;
  top: 50%;
  transform: translate(46px, -50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: red;
  content: "";
  transform: translate(92px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}

.home {
  color: #FFFFFF;
  padding-top: 250px !important;
  margin-top: -100px !important;
}
.home a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.home .title {
  font-family: "Playfair Display";
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 60px;
}
.home .title span {
  color: #EF0107;
}
.home img {
  width: 100%;
  max-width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .description {
  font-size: 20px;
}
.home ul {
  list-style: none;
}
.home ul svg {
  margin-right: 20px;
}
.home .our-clients {
  font-family: "Playfair Display";
}

.gray-bg {
  height: 1000px;
  background-color: #C6C6C6;
  z-index: -1;
}

.about {
  padding-top: 100px !important;
  margin-top: -50px !important;
}
.about .title {
  font-family: "Playfair Display";
}
.about img {
  width: 100%;
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.about .galery {
  padding: 0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.services {
  color: #FFFFFF;
  padding-top: 70px !important;
  margin-top: -50px !important;
}
.services .title {
  font-family: "Playfair Display";
}
.services .description .text {
  color: rgba(248, 246, 224, 0.6);
}
.services .margin-top150 {
  margin-top: 150px;
}
.services .something-awesome .title {
  font-family: "Playfair Display";
  margin-bottom: 25px;
  margin-top: 20px;
}
.services img {
  width: 100%;
  max-width: 100%;
}

#contact-us {
  padding-top: 40px;
}

.contact-us-wrapper .part-of-bg {
  background-color: #2E3418;
  z-index: -1;
  height: 100%;
}

.contact-us {
  background-color: #2E3418;
  margin: 100px auto;
}
.contact-us .title {
  font-family: "Playfair Display";
  color: #FFFFFF;
}
.contact-us svg {
  margin-left: 10px;
}
.contact-us .schedule-now button {
  padding: 15px 50px;
  outline: none;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
}
.contact-us img {
  width: 100%;
  border-left: 2px solid white;
}

.footer {
  color: #FFFFFF;
  margin: 0 auto;
}
.footer .get-in-touch svg {
  min-width: 20px;
  min-height: 20px;
}
.footer .first {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Playfair Display";
}
.footer .margin-bottom100 {
  margin-bottom: 100px;
}
.footer .first.favor {
  margin-bottom: 30px;
  font-family: "Panchang-Variable";
}
.footer .second a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .second > div {
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 7px 0;
  justify-content: center;
}
.footer svg {
  margin-right: 10px;
}
.footer .social-media-icon {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  transition: 0.3s;
  padding: 1px;
}
.footer .social-media-icon:hover {
  box-shadow: yellow 0px 0px 15px, yellow 0px 0px 15px;
}/*# sourceMappingURL=main.css.map */