@use 'variable';

.popup-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    background-color: rgba(0, 0, 0, .8);

    &.active-popup {
        opacity: 1;
        pointer-events: all;
        z-index: 999;
    }
}

.popup {
    transform: scale(.7);
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 5px;
    border-left: 3px solid #2E640F;
    border-top: 3px solid #2E640F;
    border-bottom: 3px solid #EF0107;
    border-right: 3px solid #EF0107;
    opacity: 0;
    pointer-events: none;
    transition: .5s;

    &.active {
        z-index: 1000;
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
    }

    .popup-icon-close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        fill: #2E640F;
    }

    .popup-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-family: variable.$fontPlayfair;
            font-weight: bold;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            border-radius: 20px;
            border-bottom: 2px solid #EF0107;
            padding: 5px 20px;
        }

        textarea {
            width: 100%;
            border: 1px solid variable.$gray;
            outline: none;
            resize: none;
            padding: 20px;
        }

        button {
            padding: 10px 40px;
            border: none;
            outline: none;
            background-color: #2E640F;
            color: #fff;
        }
    }
}